.forecast {
  color: white;
}

.forecast-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.forecast__title-wrapper {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast__title {
  text-align: center;
  padding: 10px 20px;
  font-size: 42px;
  line-height: 48px;
  color: white;
}

.forecast__subtitle {
  text-align: center;
  padding: 20px 0 10px;
  font-size: 26px;
  line-height: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.forecast__title-changer {
  position: relative;
}

.forecast__title-changer__img {
  width: 40px;
  cursor: pointer;
}

.forecast__title-changer__dropdown {
  position: absolute;
  padding: 15px 20px;
  width: 150px;
  height: 500px;
  overflow-y: scroll;
  text-align: center;
  left: -70px;
  top: 56px;
  z-index: 99;
  background-color: #fff;
  color: #000;
}

.forecast__title-changer__dropdown.unactive {
  display: none;
}

.forecast__title-changer__dropdown.active {
  display: block;
}

.forecast__title-changer__dropdown-item {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
