<div class="forecast__air-pollution__wrapper">
  <div class="container">
    <div class="forecast__air-pollution">
      <div
        *ngIf="pages$ | async as pages"
        class="forecast__air-pollution__pagination-stats"
      >
        <p class="forecast__air-pollution__pagination-stats__item">
          <span class="forecast__air-pollution__pagination-stats__item-span"
            >Current page: </span
          >{{ pages.currentPage }}
        </p>
        <p class="forecast__air-pollution__pagination-stats__item">
          <span class="forecast__air-pollution__pagination-stats__item-span"
            >All pages: </span
          >{{ pages.allPages }}
        </p>
      </div>
      <div
        *ngIf="visibleAirPollutionForecast$$ | async as visibleAirPollution"
        class="forecast__air-pollution__list"
      >
        <app-forecast-air-pollution-item
          *ngFor="let pollutionItem of visibleAirPollution"
          [item]="pollutionItem"
        ></app-forecast-air-pollution-item>
      </div>
      <div class="forecast__air-pollution__pagination">
        <button
          type="button"
          (click)="onPreviousPage()"
          class="forecast__air-pollution__pagination-btn"
          [disabled]="isFirstOrLastPage('prev')"
        >
          <img
            src="/assets/icons/arrows/previous.svg"
            alt="prev"
            class="forecast__air-pollution__pagination-btn__img"
          />
        </button>
        <button
          type="button"
          (click)="onNextPage()"
          class="forecast__air-pollution__pagination-btn"
          [disabled]="isFirstOrLastPage('next')"
        >
          <img
            src="/assets/icons/arrows/next.svg"
            alt="next"
            class="forecast__air-pollution__pagination-btn__img"
          />
        </button>
      </div>
    </div>
  </div>
</div>
