<div
  class="forecast__air-pollution__wrapper"
  *ngIf="!(airPollutionForecastError$ | async); else fetchingError"
>
  <div class="container">
    <div class="forecast__air-pollution">
      <app-air-pollution-list
        [items]="airPollutionForecast$$"
      ></app-air-pollution-list>
    </div>
  </div>
</div>
<ng-template #fetchingError>
  <div *ngIf="airPollutionForecastError$ | async as error" class="error">
    <p class="error__message">
      <span class="error__name">{{ error.name | truncateText : 50 }}:</span
      >{{ error.message | truncateText : 35 }}
    </p>
  </div>
</ng-template>
