.main-screen__section {
  height: 100vh;
  background-image: url("/assets/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-screen__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main-screen__info {
  width: 100%;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.main-screen__list {
  display: flex;
  gap: 40px;
}

.main-screen__info-block {
  font-size: 18px;
  line-height: 24px;
}

.main-screen__info-block__item {
  position: relative;
  padding-left: 30px;
}

.main-screen__info-block__item-icon {
  width: 30px;
  height: 30px;
}

.main-screen__info-block__title {
  font-size: 26px;
  line-height: 30px;
}

.main-screen__info-block__item-span {
  font-weight: 700;
}
