.main-screen__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  gap: 100px;
  min-height: 100vh;
  height: 100%;
}

.main-screen__top {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.main-screen__top-inner {
  display: flex;
  gap: 50px;
}

.main-screen__top-info__link {
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-screen__top-info__link-icon {
  width: 30px;
}

.main-screen__top-info {
  margin-left: 40px;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-screen__top-search {
  backdrop-filter: blur(10px);
  padding: 30px;
}

.main-screen__time {
  padding: 15px 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-screen__time-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-screen__time-item__span {
  padding-right: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.main-screen__time-item__title.time {
  font-size: 40px;
  line-height: 46px;
}

.main-screen__time-item__title.date {
  font-size: 34px;
  line-height: 40px;
}

.main-screen__time-item__title.day {
  font-size: 28px;
  line-height: 34px;
}

.main-screen__time-item__title.timezone {
  font-size: 24px;
  line-height: 30px;
}

.main-screen__form {
  display: flex;
  gap: 15px;
}

.main-screen__form-input {
  width: 300px;
  padding: 10px 22px;
  font-size: 16px;
  line-height: 22px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.main-screen__form-input:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.main-screen__form-input:disabled {
  background-color: #ccc;
  pointer-events: none;
}

.main-screen__info {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  min-height: 400px;
  padding: 25px 0;
}

.main-screen__info-initial {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.main-screen__info-initial__title {
  font-size: 32px;
  line-height: 38px;
}

.main-screen__info-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-screen__form-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 40px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color 0.17s ease, color 0.17s ease;
}

.main-screen__form-btn:hover {
  background-color: rgb(71, 82, 196);
}

.main-screen__form-btn:disabled {
  pointer-events: none;
  background-color: rgb(113, 115, 138);
  color: #ccc;
}

.main-screen__info-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  margin-top: 25px;
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #514b82;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
  animation: l14 1s infinite linear;
}

@keyframes l14 {
  100% {
    left: calc(100% + 20px);
  }
}

@media (max-width: 1100px) {
  .main-screen__top {
    margin: 10px 0 30px;
  }

  .main-screen__top {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .main-screen__top-info {
    margin-left: 0;
  }

  .main-screen__top-search {
    margin: 20px;
  }

  .main-screen__top-inner {
    gap: 35px;
  }

  .main-screen__info-initial__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 900px) {
  .main-screen__info,
  .main-screen__info-initial {
    min-height: 250px;
  }
}

@media (max-width: 600px) {
  .main-screen__top-inner {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .link__wrapper {
    padding: 15px 20px;
  }

  .main-screen__top-info {
    text-align: center;
    padding: 15px 20px;
  }

  .main-screen__form-input {
    width: 200px;
  }

  .main-screen__info-initial__title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 450px) {
  .main-screen__info,
  .main-screen__info-initial {
    min-height: 200px;
  }

  .main-screen__info-initial__title {
    font-size: 20px;
    line-height: 26px;
  }

  .main-screen__top-search {
    margin: 20px 0;
  }

  .main-screen__form {
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }

  .link {
    font-size: 18px;
    line-height: 24px;
  }
}
