.main-screen__section {
  height: 100vh;
  background-image: url("/assets/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-screen__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.main-screen__form {
  padding: 50px 30px 0;
}

.main-screen__form-input {
  width: 300px;
  padding: 10px 22px;
  font-size: 16px;
  line-height: 22px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.main-screen__form-input:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.main-screen__info {
  width: 100%;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
