@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.body {
  /* max-height: 100vh; */
  min-height: 100vh;
  height: 100%;
}

.container {
  max-width: 1670px;
  padding: 0 15px;
  margin: auto;
}

.section {
  min-height: 100vh;
  height: 100%;
  background-image: url("/assets/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.error {
  text-align: center;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #fff;
  color: red;
}

.error__message {
  font-size: 18px;
  line-height: 24px;
}

.error__name {
  font-weight: bold;
  padding-right: 5px;
}

.error-reset__btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  margin-top: 15px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color 0.17s ease, color 0.17s ease;
}

.error-reset__btn:hover {
  background-color: rgb(71, 82, 196);
}

.error-reset__btn:disabled {
  background-color: rgb(19, 23, 77);
  pointer-events: none;
}

.air-pollution__info-title.good {
  color: rgb(30, 255, 0);
}
.air-pollution__info-title.fair {
  color: rgb(193, 255, 143);
}
.air-pollution__info-title.moderate {
  color: rgb(255, 251, 0);
}
.air-pollution__info-title.poor {
  color: rgb(255, 0, 0);
}
.air-pollution__info-title.very-poor {
  color: rgb(225, 0, 255);
}
.air-pollution__info-title.unknown {
  color: white;
}

.link__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.link {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: underline;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-icon {
  width: 40px;
}

.initial__message {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px 0 10px 0;
}

.initial__message-text {
  color: #000;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 700px) {
  .initial__message-text {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 600px) {
  .link__wrapper {
    padding: 15px 20px;
  }
  .error {
    padding: 10px 15px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .error__message {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 450px) {
  .link {
    font-size: 18px;
    line-height: 24px;
  }

  .initial__message-text {
    font-size: 18px;
    line-height: 24px;
  }
}
