html,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.body {
  max-height: 100vh;
  height: 100%;
}

.container {
  max-width: 1670px;
  padding: 0 15px;
  margin: auto;
}

.section {
  min-height: 100vh;
  height: 100%;
  background-image: url("/assets/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.error {
  text-align: center;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #fff;
  color: red;
}

.error__message {
  font-size: 18px;
  line-height: 24px;
}

.error__name {
  font-weight: bold;
  padding-right: 5px;
}

.error-reset__btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  margin-top: 15px;
  border: none;
  color: #fff;
  background-color: rgb(88, 101, 242);
  transition: background-color 0.17s ease, color 0.17s ease;
}

.error-reset__btn:hover {
  background-color: rgb(71, 82, 196);
}
