.current__air-pollution {
  max-width: 700px;
  width: 100%;
}

.current__air-pollution__info-title {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  padding-bottom: 10px;
}

.current__air-pollution__info-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 25px;
}

.current__air-pollution__info-list__item {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.current__air-pollution__info-list__item-span {
  font-weight: 700;
}
