.current__air-pollution {
  max-width: 700px;
  width: 100%;
}

.air-pollution__info-title {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  padding-bottom: 10px;
}

.current__air-pollution__info-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 25px;
}

.current__air-pollution__info-list__item {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.current__air-pollution__info-list__item-span {
  font-weight: 700;
}

@media (max-width: 600px) {
  .air-pollution__info-title {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 500px) {
  .air-pollution__info-title {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 400px) {
  .air-pollution__info-title {
    font-size: 20px;
    line-height: 24px;
  }
}
